<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create user</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--    private int id;
            private String email, password, phoneNumber, fullName, address;
     -->
    <div class="container my-5">
      <div class="row">
        <div class="col-6 col-md-12 mx-auto">
          <form
            th:action="@{/admin/user/create}"
            method="post"
            th:object="${newUser}"
          >
            <div class="mb-3 text-center">
              <h1>Crate a user</h1>
            </div>
            <hr />
            <div class="mb-3">
              <label class="form-label">Email:</label>
              <input type="email" class="form-control" th:field="*{email}" />
            </div>
            <div class="mb-3">
              <label class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                th:field="*{password}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Phone Number:</label>
              <input
                type="text"
                class="form-control"
                th:field="*{phoneNumber}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Full Name:</label>
              <input type="text" class="form-control" th:field="*{fullName}" />
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" th:field="*{address}" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a th:href="@{/admin/user/tableuser}" class="btn btn-success"
              >Back</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
